// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-width {
  width: 100%;
}

.new-destination {
  margin: 25px 0 50px 0;
  #add-destination-button {
    margin-top: 10px;
  }
}